.user-image {
  border-radius: 50%;
  width: 3rem;
}

textarea {
  resize: none !important;
  border: none !important;
}

.form-footer img {
  width: 1.125rem;
  fill: var(--color-primary) !important;
}
