.user-image {
  border-radius: 50%;
  width: 3rem;
}

textarea {
  resize: none !important;
  border: none !important;
}

.form-footer svg {
  width: 1.125rem;
}

.btn-primary {
  background-color: #1d9bf0;
  color: white;
}
