.layoutrightsidebar {
  position: fixed;
  width: 350px;
}

/***** TRENDS FOR YOU ****/

.trendsforyou {
  border-radius: 15px;
  background: #f5f8fa;
  margin-bottom: 15px;
}

.trendsforyoublock {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
}

.trendsforyoublock:lastchild {
  border-bottom: none;
}

.trendsforyouheading {
  font-size: 19px;
  font-weight: bold;
  color: #14171a;
}

.trendsforyoumetainformation {
  font-size: 13px;
  font-weight: 300;
  color: #657786;
}

.trendsforyoutrendname {
  font-size: 15px;
  color: #14171a;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
}

/***** WHO TO FOLLOW ****/

.whotofollow {
  background: #f5f8fa;
  border-radius: 15px;
}

.whotofollowblock {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6ecf0;
}

.whotofollowblock:last-child {
  border-bottom: none;
}

.whotofollowauthorlogo {
  width: 49px;
  height: 49px;
  border-radius: 50px;
  margin-right: 10px;
}

.whotofollowauthorslug {
  color: #657786;
  font-size: 15px;
}

.whotofollowauthorname {
  font-size: 15px;
  font-weight: 700;
}

.whotofollowcontent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.whotofollowheading {
  font-size: 19px;
  font-weight: bold;
  color: #14171a;
}

.whotofollowbutton {
  border: 1px solid #1da0f2;
  color: #1da0f2;
  font-size: 15px;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px;
  min-width: 67px;
  text-align: center;
}

.whotofollowbutton:hover {
  background: rgba(29, 161, 242, 0.1);
  cursor: pointer;
}
